.wrapper {
  position: relative;
  width: 610px;
  height: 280px;
}

.first,
.second {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 610px;
  height: 280px;
  overflow: hidden;
  opacity:1;
 
  
}

.first {

}

.second {
  
}