/*
Theme Name: HCFR
Theme URI: http://bitbucket.org/homecoming
Author: Chrestella Stephanie and Destra Bintang Perkasa
Author URI: http://github.com/destraaaa
Description: Wordpress theme for Homecoming ITB Website
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags:rame
Text Domain: homecoming

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

@font-face{
    font-family: Museo;
    src: url(assets/fonts/Museo100-Regular.otf) format('truetype');
}

img{
  max-width: 100%;
  max-height: 100%;
}
html, body{
  font-family: Trebuchet MS;
}
.h-style{
  font-family: arial;
  color: black;
  font-weight: bold;
  margin-top: 15px;
  /*margin-bottom: 15px;*/
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
  }
}
a,a:hover{
  text-decoration: none;
  color: inherit;
}

blue{
 color: #4665B0; 
 font-weight: bold;
}
.align-center{
  text-align: center;
}
.align-right{
  text-align: right;
}
.absolute{
  position: absolute;
}
.display-inline{
  display: inline;
}
.display-inline-block{
  display: inline-block;
}
.padding{
  padding: 15px;
}
.padding--small{
  padding: 5px;
}
.padding-right{
  padding-right: 15px;
}
.padding-bottom{
  padding-bottom: 15px;
}
.part,.part1,.part2,.part3{
  width:100%;
  position: relative;
   font-size: 0.9em;
}


/*
.part1content--1{
  width:100%;
  display: block;
  position: absolute;
  text-align: center;
}


.part1content--1 img{
  margin-top: 10%;
  width: 13%;
}
.part1content--2{
  width:100%;
  display: block;
  position: absolute;
  text-align: center;
  color: #fff;
  margin-top: 30%;
}
.part1content--3{
  width:100%;
  display: block;
  position: absolute;
  text-align: center;
  font-family: Museo;
  color: #fff;
  margin-top: 33%;
  font-size: 1.2em;
}

.block1{
  width:30%;
  height: 100px;
  background: #fff;
  display: block;
  position: absolute;
  margin-left: 35%;
  margin-top: 28.5%;
}

.part2content--1{
  width:100%;
  display: block;
  position: absolute;
}
.part2content--1 img{
  margin-top: 5%;
  margin-left: 15%;
  width: 10%;
}
.part2content--2{
  width:25%;
  display: none;
  position: absolute;
  margin-top: 20%;
  margin-left: 25%;
}
.part2content--3{
  width:100%;
  display: block;
  position: absolute;
}
.part2content--3 img{
  margin-top: 26%;
  margin-left: 53%;
  width: 10%;
}
.part2content--4{
  width:23%;
  display: none;
  position: absolute;
  margin-top: 42%;
  margin-left: 63%;
}

.part3content--1{
  width:100%;
  display: block;
  position: absolute;
}
.part3content--1 img{
  margin-top: 4%;
  margin-left: 60%;
  width: 10%;
}
.part3content--2{
  width:25%;
  display: block;
  position: absolute;
  margin-top: 16%;
  margin-left: 60%;
}*/

#googleMap{
  width:25%;
  height: 20%;
  display: block;
  position: absolute;
  margin-top: 32%;
  margin-left: 63%;
}

/*.part3content--3{
  width:23%;
  display: block;
  position: absolute;
  margin-top: 44%;
  margin-left: 63%;
}

.img2{
  display: none;
}

.img3{
  display: none;
}*/

.title-post{
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 2em;
}

.text-center-image{
  display: block;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

.text-right-image{
  display: block;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 65%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: left;
}

.text-left-image{
  display: block;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 35%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: right;
}

.schedule-item:hover{
  background-color: #F4F6F9;
}

.schedule-item{
  border-bottom: solid #E6E6E6 1px;
}

.title-schedule{
  border-bottom: solid #E6E6E6 1px;
  border-top: solid #E6E6E6 1px;
}

.full-height{
  /*min-height: 655px;*/
  height: 100vh;
}

/*baru*/

/*.menu-slider{
  position: absolute;
  height: 100vh;
  width: 20%;
  z-index: 100;
  color: #858585;
  font-size: 15px;
  font-family: Museo;
  background-color: #F9F9F9;
  margin-left: -70px;
}
.menu-slider .active{
  margin-left: 10px;
}
*/
 .menu-slider{
  position: absolute;
  height: 100vh;
  width: 20%;
  z-index: 100;
  color: #858585;
  font-size: 15px;
  font-family: Museo;
  background-color: #F9F9F9;
  /*margin-left: -70px;*/
  -webkit-transform: translate(-100%, 0);
  -moz-transform: translate(-100%, 0);
  -ms-transform: translate(-100%, 0);
  -o-transform: translate(-100%, 0);
  transform: translate(-100%, 0);
  -webkit-transition: transform 0.5s ease;
  -moz-transition: transform 0.5s ease;
  -ms-transition: transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  z-index: 19;
}
.menu-slider.active{
  display: block;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.menu-slider img{
  text-align: center;
  margin-top:50px;
}
.menu-slider ul {
  margin-left: 15%;
  text-align: left;
}
.menu-slider ul > li{
  list-style: none;
  padding-top: 10px;
}
.menu-slider-hr{
  /*margin-left: 35%;*/
  width: 60%;
  display: inline-block;
  /*float: left;*/
  height: 2px;
  font-weight:bold;
  border: none;
  color: #858585;
  background-color: #858585;
}
.cover-page{
  height: 100vh;
  background-image: url("assets/versi3/indBG.jpg");
  background-size:cover;
  background-position: center;
  text-align: center;
}
.cover-image{
  margin-top: 50px;
  height: 75vh;
}
.hamburger-menu{
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: 21%;
  display: block;
  /*z-index: 100;*/
  color: white;
}
.hamburger-menu.active{
 /* position: absolute;
  cursor: pointer;
  top: 30px;*/
  left: 21%;
}
.hamburger-menu img{
  width: 20px;
}
.arrow-down{
  position:  absolute;
  bottom: 30px;
  text-align: center;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  height:  3vh;
}
.main-index{
  /*height: 1728px;*/
  position: relative;
  background-image: url("assets/versi3/ind_main_BG.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: top;
}
.description{
  font-family: Trebuchet MS;
  font-size: 14px;
  font-weight: normal;
  color: #858585;
}
.subtitle{
  font-family: Museo;
  font-weight: bold;
  color:#4B6CB1;
  font-size: 1.3em;

}
/*.row-height{
  height: 575px;
}*/
.part-1{
  margin-top: 15px;
  /*font-size: 1.3em;*/
  /*color:#4B6CB1;*/
}
.part-1-left{
  margin-top: 70px;
  margin-left: 360px;
  /*font-family: Museo;*/
  /*font-weight: bold;  */
}
.part-1 .desc-1{
  /*margin-left: 360px;*/
  padding-top: 15px;
}
.part-1 .desc-2{
  margin-left: 50px;
  padding-top: 15px;
}
.part-1-right{
  text-align: left;
  margin-left: -15px;
}
.part-1-right img{
  margin-top: 50px;
  width: 60%;
}
.row-2{
  margin-top: 160px;
}
.part-2{
  /*margin-top: 200px;*/
  margin-right: 280px;
 }
.part-2-left{
  text-align: right;
  width: 100%;
  /*margin-top: 220px;*/
}
.part-2-left img{
  width: 55%;
}
.part-2-right{
  margin-top: 50px;
  text-align: right;
  color:#4B6CB1;
}
.part-2-right .desc-1{
  text-align:right;
  padding-top: 15px;
  width: 80%;
  right: 0px;
  float: right;
}
.participate-button{
  width: 60%;
  margin-top: 10px;
  float: right;
}
.row-3{
  margin-top: 280px;
}
.part-3{
  /*margin-top: 350px;*/
  margin-right: 200px;
  /*padding-bottom: 45px;*/
}
.part-3-left{
  width: 50%;
  margin-left: 360px;
}
.part-3-left .subtitle{
  width: 70%;
}
.part-3-left .desc-1{
  padding-top: 15px;
  width: 90%;
  /*padding-bottom: 10px;*/
}
.part-3-right{
  margin-top: -15px;
  text-align: right;
}
.part-3-right .desc-1{
  width: 65%;
  float: right;
  padding-top: 15px;
}
.footer{
  background-image: url("assets/versi3/footer_BG.jpg"); 
  min-height: 200px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
.footer-icon{
  padding-top: 90px;
}
.footer-menu{
  color: white;
  font-size: 13px;
  padding-top: 100px;
  padding-bottom: 70px;
}
.footer-menu ul{
  list-style: none;
  padding: 0px;
}
.footer-menu ul > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.email-modal-wrapper{
  background-color: #86BC4A;
  min-height: 200px;
  border-radius: 5px;
  border: solid white 1px;
  margin-top: 180px;
  width: 450px;
}
.email-modal-content{
  padding-top: 30px;
  text-align: center;
  color: white;
  font-size: 13px; 
}
.email-modal-wrapper .close{
  color: white;
  opacity: 1;
  margin-right: 10px;
  margin-top: 5px;
}
.email-modal-content hr{
  width: 20%;
  height: 2px;
  background-color: white;
}
.input-email{
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  border: solid #4464AE 3px;
  border-radius: 10px;
  font-family: Museo;
  font-size: 15px;
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding-right: 10px;
  padding-top: 10px;
  pointer-events: none;
  color:#4464AE;
}

.main-index .row{
margin-right:0px;
}
.footer .row{
margin-right: 0px;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
.page-wrapper{
  background-image: url("assets/rev/BG_fund.jpg");
  background-size: 100%;
  background-position: top;
  background-repeat: repeat-y;
}
.container-small{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.box{
  background-color: white;
  /*padding-top: 15px;*/
  /*padding-bottom: 15px;*/
  /*padding-left: 0px;*/
  /*padding-right: 0px;*/
}
.portal-header{
  /*background: url("assets/versi3/fund_header_BG.jpg");*/
  /*background-size: 100%;*/
  /*background-position: top;*/
  color: #858585;
}
.header-main{
  padding-bottom: 5px;
  border-bottom: dotted;
  border-width: 2px;
}
.header-main img{
  margin-top: 15px;
  /*width: 100%;*/
}
.header-main ul{
  float: right;
  margin-top: 100px;
  padding: 0px;
}

.header-main li{
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 15px;
}
.header-main li.active{
  color:#E08DAF;
  border-bottom: solid 2px;
}
.header-secondary{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  color: black;
  text-align: center;
  margin-top: 30px;
  font-family: museo;
}
.header-secondary span{
  padding:5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 15px;
  vertical-align: middle;
  margin-left: 14px;
  color: white;
  background-color: #989898;
  cursor: pointer;
}
.header-secondary span.arrow--transparent{
  background-color: transparent;
}
.list-prodi ul{
  list-style: none;
  margin-top: 0px;
}

.list-prodi ul li{
  /*width: 90px;*/
  text-align: center;
  display: inline-block;
  position: relative;
  font-size: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.list-prodi ul li ul{
  display: none;
}
.list-prodi li.active{
  border-bottom: solid #E0A75F 1px;
  color: #E0A75F;
}
.list-prodi li:active > ul{
  display: inline-block;
}
.dropdown-fakultas{
  background-color: rgba(0,0,0,0.8);
  color: white;
  position: absolute;
  top:20px;
  /*left: 50%;*/
  /*width: 60%;*/
  /*-webkit-transform: translateX(-50%);*/
  /*transform: translateX(-50%);*/
}
.dropdown-fakultas ul{
  padding-left: 10px;
}
.dropdown-fakultas ul li{
  display: block;
  list-style: circle !important;
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dropdown-fakultas ul li:before{
  content: "-";
  padding-right: 15px;
}
/*.dropdown-fakultas ul li:after{
  content: "v";
  float: right;
}*/
.dropdown-fakultas ul li ul {
  padding-left: 30px;
}
.dropdown-fakultas ul li ul li:after{
  content: "";
}
.dotted-line{
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  border-top: dotted gray 2px;
}
.dotted-line:before{
  color: #414F74;
  content: "o";
  float: left;
  font-weight: bold;
  left: -10px;
  position: relative;
  margin-top: -13px;
}
.dotted-line:after{
  color: #414F74;
  content: "o";
  margin-top: -13px;
  font-weight: bold;
  float: right;
  right: -10px;
  position: relative;
}
.dropdown-sort{
  text-align: right;
  padding-top: 15px;
  /*padding-bottom: 5px;*/
}
.portal-content{
  margin-top: 30px; 
  /*background-image: url("assets/versi3/fund_center_BG.jpg"); */
  /*background-size: 100%;*/
  /*background-repeat: repeat-y;*/
  font-size: 15px;
  color: #858585;
}

.how-to{
  padding-bottom: 20px;
  border-bottom: 2px dotted;
  border-width: 2px;
}

.portal-content img{
  width: 100%;
}
.subtitle{
  font-weight: bold;
  font-family: arial;
  color: black;
}
.post-title{
  font-family: museo;
  color: #4865A5;
  font-size: 30px;

}
.post-creator{
  font-family: museo;
  /*color: black;*/
  font-size: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.post-read-more{
  font-style: italic;
  display: inline;
  color:#C78660;
}
.post-more-project{
  margin-top: 15px;
  width: 150px;
  background-color: #CBCBCB;
  color:#C78660;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-style: italic;

}
.post-more-project span{
  float: right;
}
.post-progress{
  margin-top: 30px;
  margin-bottom: 15px;
}
.post-progress-statistics{
  display: inline-block;
  padding-right: 20px;
}
.post-progress-statistics .number{
  font-family: museo;
  font-size: 23px;
  color: black;
  font-weight: 900;
}
.post-progress-statistics .label{
  font-family: museo;
  font-size: 13px;
  font-weight: 100;
  color: black;
  font-style: italic;
  text-align: left;
  padding-left: 0;
  padding-right:0;
}
.progress-bar, .progress{
  height: 10px;
}
.progress{
  background-color: #CBCBCB;
}
.progress-bar{
  background-color: #89C63D;
}
.project-panel{
  border: solid #BCBCBC 1px;
}
.project-panel-title{
  font-size: 17px;
  font-family: arial;
  color: black;
  font-weight: bold;
}
.project-panel-creator{
  font-style: italic;
  padding-bottom: 10px;
  font-size: 12px;
}
.project-panel-content{
  font-size: 12px;
}
.project-panel .post-progress-statistics{
  padding-right: 5px;
  margin-bottom: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.project-panel .post-progress-statistics .number{
  font-size: 16px;
}
.project-panel .post-progress-statistics .label{
  font-size: 12px;
}
.project-panel .post-progress{
  margin-bottom: 5px;
}
.portal-footer{
  /*background-color: green;*/
  margin-top: 15px;
  padding-top: 100px;
  padding-bottom: 100px;
  background: -webkit-linear-gradient(45deg,#84B84A,#A0BD3D,#E1C819); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(45deg,#84B84A,#A0BD3D,#E1C819); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(45deg,#84B84A,#A0BD3D,#E1C819); /* For Firefox 3.6 to 15 */
  background: linear-gradient(45deg,#84B84A,#A0BD3D,#E1C819); /* Standard syntax */
}
.portal-footer-icon{
  margin-bottom: 15px;
  border-right: solid white 1px;
}
.portal-footer-icon img{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.portal-footer-menu{
  color: white;
  font-size: 13px;

}
.portal-footer-menu.border-right{
  border-right: solid white 1px;
}
.portal-footer-menu ul{
  list-style: none;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
}
.portal-footer-menu ul > li {
  padding-top: 5px;
  padding-bottom: 5px;
}
.portal-footer .row{
  margin-right: 0px;
}
#carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}
#carousel{
  /*margin-top: 15px;*/
  margin-bottom: 30px;
}
.owl-carousel .owl-pagination{
  text-align: center;
  margin-top: -50px;
  zoom: 0.8;
  opacity: 0.9;
}
.load-more{
  margin-top: 15px;
  text-align: center;
  font-style: italic;
}
.load-more span{
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border:solid #BFBFBF 2px;  
}
.project-detail-info{
  border: solid black 1px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 15px;
  font-family: museo;
}
.project-detail-info .statistic{
  margin-bottom: 10px;
}
.project-detail-info .number{
  font-size: 30px;
  font-weight: 900;
  color: black;
}
.project-detail-info .label{
  font-size: 15px;
  padding-left: 0px;
  font-style: italic;
  font-weight: 100;
  color: black;
}
.donate-now{
  background-color: #8BC43F;
  padding: 5px;
  color: white;
}
.paket .main-title{
  color: black;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}
.paket .panel-paket{
  background-color: #F1F1F1;
  padding: 10px;
  margin-bottom: 15px;
}
.paket .panel-paket:hover{
  opacity: 0.7;
}
.panel-paket{
  font-size: 12px;
}
.panel-paket .title{
  font-size: 20px;
  color: #A6A9CC;
}
.panel-paket .quota{
  color: #CEA279;
}
.panel-paket .backers{
  margin-top: 10px;
  color: black;
  margin-bottom: 10px;
}
.panel-paket .reward{
  color: gray;
}
.search-box{
  position: absolute;
  width: 250px;
  right: 0px;
  border-bottom-left-radius : 15px;
  border-bottom-right-radius : 15px;
  background-color: #E8E8E8;
  padding: 10px;
  font-size: 13px; 
  box-shadow: 0px 1px 5px #888888;
  /*padding-bottom: 15px;*/
}
.search-box input{
  border:none;
  border-radius: 15px;
  height: 25px;
  padding: 15px;
}
.inner-addon { 
    position: relative; 
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 7px;
  pointer-events: none;
  color: #E6E6E6;
}
.right-addon .glyphicon { right: 5px;}

.right-addon input { padding-right: 30px; }

.modal-backdrop {
   background-color: transparent;
}
.modal-dark{
  background-color: rgba(0,0,0,0.8);
  color: white;
}
.modal-donasi{
  padding: 15px;
  width: 760px;
  font-size: 15px;
}
.modal-donasi .modal-title{
  font-family: museo;
  font-size: 30px;
  font-weight: bold;
  color:#8FC741;
  padding-top: 30px;
  /*padding-bottom: 10px;*/
}
.modal-donasi .by{
  padding-top: 5px;
  padding-bottom: 15px;
}
@media screen and (max-width: 767px){
  .search-box{
    position: relative;
  }
  .header-main ul{
    float: right;
    margin-top: 15px;
    padding: 0px;
  }
  .portal-footer-menu.border-right{
    border-right: none;
  }
  .portal-footer-menu ul{
    padding: 0px;
    margin-bottom: 30px;
  }
  .portal-footer-menu{
    text-align: left;
  }
  .portal-footer-icon{
    border: none;
  }
  .modal-donasi{
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
}
