/*!
 * Start Bootstrap - Portfolio Item HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

@font-face{
    font-family: Museo;
    src: url(assets/fonts/Museo100-Regular.otf) format('truetype');
}

img{
  max-width: 100%;
  max-height: 100%;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #000000;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #000000;
    background-color: rgba(255, 255, 255, 0);
  }
}

blue{
 color: #4665B0; 
 font-weight: bold;
}

.part,.part1,.part2,.part3{
  width:100%;
  position: relative;
   font-size: 0.9em;
}
.part1content--1{
  width:100%;
  display: block;
  position: absolute;
  text-align: center;
}
#container{
  width: 1300px;
}

.part1content--1 img{
  margin-top: 10%;
  width: 13%;
}
.part1content--2{
  width:100%;
  display: block;
  position: absolute;
  text-align: center;
  color: #fff;
  margin-top: 30%;
}
.part1content--3{
  width:100%;
  display: block;
  position: absolute;
  text-align: center;
  font-family: Museo;
  color: #fff;
  margin-top: 33%;
  font-size: 1.2em;
}

.block1{
  width:30%;
  height: 100px;
  background: #fff;
  display: block;
  position: absolute;
  margin-left: 35%;
  margin-top: 28.5%;
}

.part2content--1{
  width:100%;
  display: block;
  position: absolute;
}
.part2content--1 img{
  margin-top: 5%;
  margin-left: 15%;
  width: 10%;
}
.part2content--2{
  width:25%;
  display: none;
  position: absolute;
  margin-top: 20%;
  margin-left: 25%;
}
.part2content--3{
  width:100%;
  display: block;
  position: absolute;
}
.part2content--3 img{
  margin-top: 26%;
  margin-left: 53%;
  width: 10%;
}
.part2content--4{
  width:23%;
  display: none;
  position: absolute;
  margin-top: 42%;
  margin-left: 63%;
}

.part3content--1{
  width:100%;
  display: block;
  position: absolute;
}
.part3content--1 img{
  margin-top: 4%;
  margin-left: 60%;
  width: 10%;
}
.part3content--2{
  width:25%;
  display: block;
  position: absolute;
  margin-top: 16%;
  margin-left: 60%;
}

#googleMap{
  width:25%;
  height: 20%;
  display: block;
  position: absolute;
  margin-top: 32%;
  margin-left: 63%;
}

.part3content--3{
  width:23%;
  display: block;
  position: absolute;
  margin-top: 44%;
  margin-left: 63%;
}

.img2{
  display: none;
}

.img3{
  display: none;
}

.title-post{
  display: block;
  position: absolute;
  top: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 2em;
}

.text-center-image{
  display: block;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}

.text-right-image{
  display: block;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 65%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: left;
}

.text-left-image{
  display: block;
  position: absolute;
  top: 30%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 35%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: right;
}

.schedule-item:hover{
  background-color: #F4F6F9;
}

.schedule-item{
  border-bottom: solid #E6E6E6 1px;
}

.title-schedule{
  border-bottom: solid #E6E6E6 1px;
  border-top: solid #E6E6E6 1px;
}

.full-height{
  min-height: 655px;
}